{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery CDN -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

    <!-- Custom CSS -->
    <link
            rel="stylesheet"
            href="{% static 'css/base.css' %}">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}"/>

    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>
    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
    <div class="container-fluid">
        {% include 'snippets/nav.html' %}
        {% block content %}{% endblock %}
    </div>

</body>
</html>
