{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Post
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>{{ object.title }}
                <spam class="text-muted"><small>
                    {% if object.author != request.user %}
                        by {{ object.author }} -
                    {% endif %}
                    {{ object.published_date|date }} at {{ object.published_date|time:"H:i" }}
                </small></spam>
            </h1>
            {% if object.draft %}
                <h5 class="text-danger">Draft</h5>
            {% endif %}
        </div>
        <div class="row">
            <div class="offset-sm-2">
                <hr>
                <p>{{ object.get_html }}</p>
                {% if object.author == request.user %}
                    <hr>
                    <a class="btn btn-primary" href="{% url 'posts:update' slug=object.slug %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'posts:delete' slug=object.slug %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
